.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f1f1f1;
}
.header__logo {
    object-fit: contain;
    cursor: pointer;
}
.header__icon {
    padding: 1px;
}